:root {
    --width: 0;
    --margin: 0;
}

html, body, div, span, object, iframe, menu, h1, h2, h3, h4, p, button, td, tr, tbody, ul, li, dl, dd, dt, figure {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    cursor: inherit;
    box-sizing: border-box;
    transition: background-color 0.15s linear 0s, color 0.15s linear 0s;
}

body {
    font-size: 16px;
    overflow-y: hidden;
    min-width: 300px;
    height: 100%;
    font-family: Montserrat, "Fira sans", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

input, select {
    border-radius: 0px;
    box-shadow: none;
    outline: none;
}

input, textarea {
    appearance: none;
}

button {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.15s ease 0s;
}

.page {
    background-image: url(img/bg_1920px.png);
    background-repeat: no-repeat;
    height: 1200px;
    background-color: #020F85;
}

@media(max-width: 1440px) {
    .page {
        background-image: url(img/bg_1440px.png);
        background-repeat: no-repeat;
    }
}

.content-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 12px;
}

.content-container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.logo::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='117' height='61' viewBox='0 0 117 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M61 0H19.825V19.825H0V61H41.175V41.175H61V0ZM41.175 41.175V19.825H19.825V41.175H41.175Z' fill='url(%23paint0_linear_272_106)'/%3E%3Cpath d='M108.531 48.0547C108.036 48.0807 107.62 48.2695 107.281 48.6211C106.956 48.9727 106.721 49.3763 106.578 49.832C106.435 50.2747 106.363 50.7305 106.363 51.1992C106.363 51.668 106.428 52.1302 106.559 52.5859C106.702 53.0417 106.943 53.4453 107.281 53.7969C107.62 54.1354 108.036 54.3177 108.531 54.3438H114.977C115.797 54.4219 116.246 54.8711 116.324 55.6914C116.311 56.056 116.174 56.362 115.914 56.6094C115.654 56.8438 115.341 56.9609 114.977 56.9609H108.746H107.848C106.936 56.9089 106.188 56.5638 105.602 55.9258C105.016 55.2747 104.592 54.5391 104.332 53.7188C104.085 52.8984 103.961 52.0586 103.961 51.1992C103.961 50.5612 104.033 49.9297 104.176 49.3047C104.319 48.6797 104.54 48.0872 104.84 47.5273C105.152 46.9544 105.562 46.4661 106.07 46.0625C106.591 45.6589 107.184 45.4505 107.848 45.4375H108.219H114.977C115.797 45.5156 116.246 45.9648 116.324 46.7852C116.324 47.1497 116.188 47.4557 115.914 47.7031C115.654 47.9375 115.341 48.0547 114.977 48.0547H108.531Z' fill='white'/%3E%3Cpath d='M89.332 55.6523C89.332 55.2878 89.4557 54.9818 89.7031 54.7344C89.9635 54.474 90.276 54.3438 90.6406 54.3438H94.3906V48.0547H90.6406C90.276 48.0547 89.9701 47.9245 89.7227 47.6641C89.4622 47.4167 89.332 47.1107 89.332 46.7461C89.332 46.3815 89.4557 46.0755 89.7031 45.8281C89.9635 45.5677 90.276 45.4375 90.6406 45.4375H100.758C101.122 45.4375 101.435 45.5612 101.695 45.8086C101.943 46.069 102.066 46.3815 102.066 46.7461C102.066 47.1107 101.936 47.4232 101.676 47.6836C101.428 47.931 101.122 48.0547 100.758 48.0547H97.0273V54.3438H100.758C101.122 54.3438 101.435 54.4674 101.695 54.7148C101.943 54.9753 102.066 55.2878 102.066 55.6523C102.066 56.0169 101.936 56.3294 101.676 56.5898C101.428 56.8372 101.122 56.9609 100.758 56.9609H90.6406C90.276 56.9609 89.9701 56.8307 89.7227 56.5703C89.4622 56.3229 89.332 56.0169 89.332 55.6523Z' fill='white'/%3E%3Cpath d='M87.3594 51.8047C87.6068 52.3255 87.7305 52.8529 87.7305 53.3867C87.7305 53.9076 87.6003 54.4284 87.3398 54.9492C87.0794 55.457 86.6562 55.9128 86.0703 56.3164C85.4844 56.707 84.7357 56.9023 83.8242 56.9023H83.707C83.6289 56.9154 83.5508 56.9219 83.4727 56.9219H75.6211C75.2695 56.9089 74.9701 56.7852 74.7227 56.5508C74.4883 56.3034 74.3646 56.0039 74.3516 55.6523V46.707C74.3646 46.3555 74.4883 46.0625 74.7227 45.8281C74.9701 45.5807 75.2695 45.4505 75.6211 45.4375H82.3398C82.418 45.4375 82.4961 45.444 82.5742 45.457H82.6914C83.6029 45.4831 84.3516 45.6914 84.9375 46.082C85.5234 46.4727 85.9466 46.9219 86.207 47.4297C86.4674 47.9245 86.5977 48.4258 86.5977 48.9336C86.5977 49.4544 86.474 49.9622 86.2266 50.457C86.2135 50.4831 86.2005 50.5026 86.1875 50.5156C86.7214 50.8932 87.112 51.3229 87.3594 51.8047ZM83.9414 54.3047C84.1888 54.3177 84.3906 54.2721 84.5469 54.168C84.7161 54.0638 84.8398 53.9466 84.918 53.8164C84.9961 53.6732 85.0352 53.5299 85.0352 53.3867C85.0352 53.2956 84.9961 53.1719 84.918 53.0156C84.8398 52.8464 84.7161 52.7096 84.5469 52.6055C84.3906 52.5013 84.1888 52.4427 83.9414 52.4297H82.6914H76.9883V53.7773C76.9883 54.1289 77.1706 54.3047 77.5352 54.3047H77.6914H83.9414ZM83.4336 49.6367C83.5898 49.5456 83.707 49.4414 83.7852 49.3242C83.8633 49.194 83.9023 49.0638 83.9023 48.9336C83.9023 48.8034 83.8633 48.6797 83.7852 48.5625C83.707 48.4323 83.5833 48.3216 83.4141 48.2305C83.2578 48.1263 83.056 48.0677 82.8086 48.0547H77.5352C77.1706 48.0547 76.9883 48.2305 76.9883 48.582V49.8125H82.8086C83.056 49.7995 83.2643 49.7409 83.4336 49.6367Z' fill='white'/%3E%3Cpath d='M65.5039 57.4102C64.8268 57.4102 64.1562 57.332 63.4922 57.1758C62.8411 57.0195 62.2161 56.7917 61.6172 56.4922C61.0182 56.1797 60.4909 55.7695 60.0352 55.2617C59.5794 54.7539 59.332 54.1484 59.293 53.4453V52.625V46.3945C59.293 46.0299 59.4232 45.7305 59.6836 45.4961C59.957 45.2487 60.276 45.125 60.6406 45.125C61.4219 45.1901 61.8451 45.6133 61.9102 46.3945V52.8398C61.9362 53.2435 62.0859 53.582 62.3594 53.8555C62.6458 54.1159 62.9583 54.3242 63.2969 54.4805C63.6484 54.6367 64.0065 54.7539 64.3711 54.832C64.7487 54.9102 65.1263 54.9492 65.5039 54.9492C65.8815 54.9492 66.2526 54.9102 66.6172 54.832C66.9948 54.7539 67.3529 54.6367 67.6914 54.4805C68.043 54.3242 68.3555 54.1159 68.6289 53.8555C68.9154 53.582 69.0716 53.2435 69.0977 52.8398V46.3945C69.0977 46.0299 69.2279 45.7305 69.4883 45.4961C69.7617 45.2487 70.0807 45.125 70.4453 45.125C71.2266 45.1901 71.6562 45.6133 71.7344 46.3945V52.625V53.4453C71.6953 54.1484 71.4414 54.7539 70.9727 55.2617C70.5169 55.7695 69.9896 56.1797 69.3906 56.4922C68.7917 56.7917 68.1602 57.0195 67.4961 57.1758C66.8451 57.332 66.181 57.4102 65.5039 57.4102Z' fill='white'/%3E%3Cpath d='M49.6836 48.0547C49.1888 48.0807 48.7721 48.2695 48.4336 48.6211C48.1081 48.9727 47.8737 49.3763 47.7305 49.832C47.5872 50.2747 47.5156 50.7305 47.5156 51.1992C47.5156 51.668 47.5807 52.1302 47.7109 52.5859C47.8542 53.0417 48.0951 53.4453 48.4336 53.7969C48.7721 54.1354 49.1888 54.3177 49.6836 54.3438H56.1289C56.9492 54.4219 57.3984 54.8711 57.4766 55.6914C57.4635 56.056 57.3268 56.362 57.0664 56.6094C56.806 56.8438 56.4935 56.9609 56.1289 56.9609H49.8984H49C48.0885 56.9089 47.3398 56.5638 46.7539 55.9258C46.168 55.2747 45.7448 54.5391 45.4844 53.7188C45.237 52.8984 45.1133 52.0586 45.1133 51.1992C45.1133 50.5612 45.1849 49.9297 45.3281 49.3047C45.4714 48.6797 45.6927 48.0872 45.9922 47.5273C46.3047 46.9544 46.7148 46.4661 47.2227 46.0625C47.7435 45.6589 48.3359 45.4505 49 45.4375H49.3711H56.1289C56.9492 45.5156 57.3984 45.9648 57.4766 46.7852C57.4766 47.1497 57.3398 47.4557 57.0664 47.7031C56.806 47.9375 56.4935 48.0547 56.1289 48.0547H49.6836Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_272_106' x1='30.5' y1='0' x2='30.5' y2='61' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23009CE4'/%3E%3Cstop offset='1' stop-color='%23003A9E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 118px;
    height: 62px;
    margin: 50px;
}

.main-block-1__left {
    max-width: 466px;
    height: 686px;
    padding-top: 172px;
}

.main-block-1__left  {
    width: 100%;
}

.login-container {
    display: inline-flex;
    padding: 40px 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border-radius: 32px;
    background: #FFF;
    max-width: 508px;
}

.login_title {
    color: #1351F0;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    margin-right: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login {
    color: #0C0725;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.password {
    color: #0C0725;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

#username {
    max-width: 420px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D7D7D7;
}

#password {
    max-width: 420px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D7D7D7;
}

.main-block-1__right {
    margin-top: 290px;
}

.sub-auth {
    margin-top: 28px;
    width: 420px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    border-radius: 12px;
    background: #1351F0;
    cursor: pointer;
    transition: all .9s ease-out;
}

.sub-auth:hover {
    background-color: #0133b1;
}

.animation.element-show {
    opacity: 1;
    transition: all 2.4s;
    transform: translateY(0%);
}
.animation {
    opacity: 0;
    transform: translateY(-6%);
}

input[type="text"]
{
    font-size:24px;
}

input[type="password"] {
    font-size: 24px;
}
